.editable-content
  box-sizing border-box
  outline none
  transition border-color linear .35s
  border-radius var(--border-radius)
  border solid 1px transparent
  padding 0 3px

  &:focus
    box-shadow: 0 0 1px 0px #ffffff
    border-color var(--border-color)
    background #FFFFFF
