.input
  outline 0
  width 100%
  border solid 1px #777777
  border-radius 3px
  padding 0 10px
  height 100%
  position relative
  min-height 30px

  &.height-light
    text-shadow 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow

  &:focus
    color black
    text-shadow: 0 0 0 #000000, 0 0 0 #777777

&.border-none
  border 0
