:root {
  font-family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* css variables */
  --border-radius: 3px;
  --border-color: orange;
  --input-height: 30px;
  --search-input-height: 30px;
  --content-head-bg: #3d526c;
  --content-head-color: #fff;

  --scroll-width: 10px;
}
