.nebula-section
  border-radius var(--molecules-border-radius)
  box-shadow 0 0 2px 1px rgba(0, 0, 0, 0.3)
  transition border-color linear .35s
  border solid 1px transparent

  &:hover
    border-color var(--border-color)
