.nebula-folder-tree
  background #FFFFFF
  height 100%

  .toolbar
    height 50px
    border-bottom solid 1px #dddddd
    display flex
    padding 0 7px
    align-items center

    .searchTitle
      font-size 14px

    .searchBox
      display flex
      height 50%

  .treeRoot
    .tree_node
      display flex
      height 30px
      border-bottom solid 1px #dddddd
      align-items center
      justify-content flex-start
      padding 0 7px

      &.matchedMark
        color #dc9f2b

      &.expanded
        border 0

      &:hover
        background #f7f7f7

      .tree-node-item
        flex 1
        display flex
        justify-content flex-start

    .tree-node-indent
      margin-left 27px
      border-left dashed 1px #cccccc
