.nebula-tui
  text-align left
  height 100%
  position relative;
  --tui-tool-opacity: 0
  --tui-tool-background rgba(255, 255, 255, 0.55)

  &.tui-tool-visible
    --tui-tool-opacity: 1

  .toastui-editor-defaultUI
    border 0

  .toastui-editor-toolbar
    transition opacity background ease-in .3s
    transform translateX(-50%)
    position absolute
    left 50%
    top 10px
    z-index 30
    zoom calc(0.7 * var(--nebula-tui-width-ratio, 1));
    opacity var(--tui-tool-opacity)
    &:hover
      --tui-tool-background rgba(255, 255, 255, 1)

    .toastui-editor-defaultUI-toolbar
      border-radius 30px
      box-shadow 0 0 10px 2px #a0a0a060
      background var(--tui-tool-background, transprent);
  .toastui-editor-main
    .toastui-editor-contents
      padding-top 36px
      font-size var(--document-font-size, 15px)

      h1
        border-bottom: 1px solid #ccc;

      h3, h4
        padding-bottom 5px

      table
        border-radius 5px
        overflow hidden
        box-shadow 0 0 0 1px rgba(0, 0, 0, 0.1)

        th
          background-color #f0f0f0
          color #555
          font-weight 500

          p
            color #555

      .toastui-editor-ww-code-block
        margin-top 10px
        font-size 14px
