.nebula-tui
  text-align left
  height 100%

  .toastui-editor-toolbar
    transform scale(.75) translateX(12.5%)
    position absolute
    top 0
    z-index 30

    .toastui-editor-defaultUI-toolbar
      border-radius 50px
  .toastui-editor-main
    .toastui-editor-contents
      padding-top 50px
      font-size var(--document-font-size,15px)
      h1
        border-bottom: 1px solid #ccc;
      h3,h4
        padding-bottom 5px
      .toastui-editor-ww-code-block
        margin-top 10px
