.note-list
  display flex
  flex-direction column
  max-height 100vh
  >*
    box-sizing border-box

  .note-list-item
    border-bottom solid 1px #cccccc
    padding 12px 3px 12px 0
    cursor pointer
    display flex
    justify-content flex-start
    align-items center
    position relative

    &:hover, &.checked
      background-color #eeeeee
    .item-tag
      width 20px
    .item-name
      font-weight bold
      text-align left
      flex 1

    .item-operation
      width 42px
      display flex
      align-items center
      padding-left 5px
.note-list-header
  height 35px
  box-sizing border-box
  background var(--content-head-bg)
  padding 5px 10px

.note-tabs-title
  padding 5px 20px

  &.editable
    padding 5px 20px 5px 10px

  .note-editable-title
    outline none
    min-width 20px
