:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* css variables */
    --border-radius: 3px;
    --border-color: orange;
    --input-height: 30px;
    --search-input-height: 30px;
    --content-head-bg: #3d526c;
    --content-head-color: #fff;

    --scroll-width: 10px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

/* 修改滚动条轨道的样式 */
::-webkit-scrollbar {
    width: var(--scroll-width); /* 设置滚动条的宽度 */
    transition: background-color 0.5s ease; /* 添加过渡效果 */
    border-radius: 5px;
}

/* 修改滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #d0d0d0; /* 设置滑块的颜色 */
    border-radius: 5px; /* 设置滑块的圆角 */
}

/* 修改横向滚动条轨道的样式 */
::-webkit-scrollbar:horizontal {
    height: var(--scroll-width); /* 设置横向滚动条的高度 */
}

/* 修改横向滚动条滑块的样式 */
::-webkit-scrollbar-thumb:horizontal {
    border-radius: 5px; /* 设置横向滚动条滑块的圆角 */
}

/* 修改滚动条滑轮的样式 */
::-webkit-scrollbar:hover {
    background-color: #f9f9f9; /* 设置滚动条的背景色 */
    box-shadow: 0 0 1px #999 inset;
}

/* 修改滚动条轨道两端的按钮样式 */
::-webkit-scrollbar-button {
    display: none; /* 隐藏滚动条按钮 */
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
