.textarea
  outline 0
  width 100%
  border solid 1px #777777
  border-radius var(--border-radius)
  padding 5px 10px
  height 100%
  position relative
  box-sizing border-box
  transition border-color linear .35s

  &:focus
    color black
    border-color var(--border-color)

  &.horizontal
    height 100% !important
    resize horizontal

  &.vertical
    width 100% !important
    resize vertical

  &.none
    resize none

&.border-none
  border 0
