*
  box-sizing border-box

.molecules-card
  border-radius var(--border-radius)
  box-shadow 0 2px 4px rgba(0, 0, 0, 0.3)
  overflow hidden

  .card-title
    font-size 16px
    padding 0 16px
    height 36px
    line-height @height
    font-weight 500
    background var(--content-head-bg, #ffffff)
    color var(--content-head-color, #333333)

  .card-content
    padding 16px
    overflow hidden

    &.card-content-scroll-x
      overflow-x auto

    &.card-content-scroll-y
      overflow-y auto