.nebula-notification
  position fixed
  top -50px
  left 50%
  width 0
  height 0
  z-index: 1000

  .nebula-notification-ui
    position: absolute
    padding: 5px 5px 5px 15px
    border-radius: var(--organisms-border-radius)
    box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.5)
    min-width 300px
    color: #fff
    font-size: 16px
    display: flex
    align-items: center
    justify-content: space-between
    opacity: 0
    transform: translateY(0)
    transition: opacity 0.3s ease-out, transform 0.3s ease-out

    &.enter
      opacity: 1
      transform: translateY(var(--notification-offset,70px))

    &.exit
      opacity: 0
      transform: translateY(0)

    &.success
      background-color: #4caf50ee

    &.error
      background-color: rgba(255, 106, 0, 0.9)

    &.info
      background-color: #2196f3ee

    .close-btn
      background: none
      border: none
      color: inherit
      font-size: 26px
      margin-left: 10px
      cursor: pointer

      &:hover
        opacity: 0.8
