.build-form
  height 100%

  .form-container
    display flex
    flex-direction column
    height 100%
    .form-body
      padding 30px 30px
    .form-footer
      flex 1
      overflow auto

  .moduleNameTip
    text-align left

  .none_tip
    padding 0 30px
    font-size 15px
    color #777777

    .none_tip_title
      text-align left

    p
      text-align left
