.menu
  display flex
  height 100%

  .menu-item
    $padding = 15px
    padding 0 $padding
    display flex
    align-items center
    color #e9e9e9
    cursor pointer
    box-sizing border-box
    position relative
    -webkit-app-region: no-drag;

    &.checked {
      color #edff00
    }

    &:hover
      color #FFFFFF

      &:after
        content ""
        position absolute
        left $padding
        right $padding
        bottom 0
        height 2px
        background linear-gradient(#FFFFFF, #213547)
        transform rotateX(90deg);
        animation menu_item_hover 1s ease-out
        animation-fill-mode forwards

    &:checked
      color #FFFFFF

@keyframes menu_item_hover
  from
    transform rotateX(90deg);
  to
    transform rotateX(0);
